
 @font-face { font-style : normal; src: url("assets/fonts/notosanskrregular400.otf"); font-family : "Noto Sans KR"; font-weight : 400;  }
 @font-face { font-style : normal; src: url("assets/fonts/notosansregular400.ttf"); font-family : "Noto Sans"; font-weight : 400;  }